@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
    color: purple;
    font-family: 'Roboto', sans-serif;
}


path {
    fill: gray;
    stroke: white;
    stroke-width: 2;

    &:hover {
        cursor: pointer;
        fill: blue;
    }
}