@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

h1 {
    margin: 32px 0 16px 0; 
    text-align: center;
    font-size: 20px;
}

.svg-ca {
    border: 1px solid black;
    padding: 32px;
    max-width: 250px;
}

.svg-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.active {
    stroke: black;
    stroke-width: 4;
}


path {
    stroke: white;
    stroke-width: 1.5;

    &:hover {
        fill: gray;
        cursor: pointer;
    }
}

.card-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.c-card__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family: courier;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
}

.c-card__title {
    padding: 0;
    margin: 12px 0;
}


.c-card__content {
    margin: 32px 0px;
}
