@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.l-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 32px 0 24px 0; 
    text-align: center;
    font-size: 22px;
}

.svg-ca {
    border: 1px solid black;
    padding: 32px;
    max-width: 250px;
}

.active {

    fill: gray;
}


path {
    stroke: white;
    stroke-width: 1.5;

    &:hover {
        cursor: pointer;
    }
}

.l-card {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.c-card__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family: courier;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

.c-card__title {
    padding: 0;
    margin: 12px 0;
    font-size: 18px;
}


.c-card__content {
    margin: 32px 0px;
}


.l-caption {
    margin: 0;
    padding: 0;
}

.c-caption {
    font-size: 14px;
}
